[Unit]
Description=deployer

[Service]
User=cloud-user
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -c '/usr/local/go/bin/go build'
ExecStart=/home/cloud-user/deployer/deployer
WorkingDirectory=/home/cloud-user/deployer/

[Install]
WantedBy=multi-user.target